.background{
  min-height: 100vh;
  background: #f5f3f2;
}

h1{
  color: red;
}

.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1170px;
  align-items: center;  
  margin: 0 auto;
}

.titulo {
  grid-column: 1/12;
  justify-self: left;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
  color: var(--izit);
}
